body {
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;


}

.background {
    
    background-image: url(https://i.pinimg.com/originals/e1/e5/55/e1e555776e10182a9d7f07624693c13d.gif);
    height: 100vh; 
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    
}

.title {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}

.display {
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;

}

.tile {
    border: 1px solid rgb(15, 15, 15);
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: #14bfc5;
}

.playerO {
    color: #e41aa0;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

.restart {
    background-color: #498AFB;
}

#reset {
    background-color: #f3638c;
}